# ========== API ==========
NEXT_PUBLIC_API_URL

# ========== CDN ==========
NEXT_PUBLIC_CDN_URL
NEXT_PUBLIC_ASSET_URL

# ========== Google OAuth ==========
NEXT_PUBLIC_GOOGLE_CLIENT_ID

# ========== Storefront ==========
NEXT_PUBLIC_STOREFRONT=vn
