@import "tailwindcss";

@theme {
  --color-spotify-black: #000000;
  --color-spotify-base: #121212;
  --color-spotify-highlight: #1a1a1a;
  --color-spotify-press: #282828;
  --color-spotify-elevated: #242424;
  --color-spotify-green: #1ed760;
}

body {
  background-color: var(--color-spotify-black);
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}