# ========== GRPC_URL ==========
ASSET_GRPC_URL=localhost:7979

# ======= PostgreSQL =========
DATABASE_URL

# ========== R2 ==========
R2_ENDPOINT
R2_ACCESS_KEY
R2_SECRET_KEY
R2_BUCKET

# ========== CDN URL ==========
CDN_URL

# ========== GRPC_TOKEN ==========
INTERNAL_GRPC_TOKEN

ASSET_WORKER_ENABLED=true
ASSET_WORKER_POLL_INTERVAL_MS=2000
ASSET_WORKER_LOCK_TTL_MS=1800000
ASSET_WORKER_MAX_ATTEMPTS=5
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe