NODE_ENV=development

# ========== API Gateway ==========
API_HOST=localhost
API_PORT=9999
API_PREFIX=api/v1

KMS_GRPC_URL=localhost:5555

# ========== CORS ==========
CORS_ORIGIN=http://localhost:3000

# ========== Redis ==========
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=