# ======== PostgreSQL =========
DATABASE_URL=postgresql://user:password@localhost:5432/wallet_db

# ========== Server ==========
GRPC_PORT=:50051
HTTP_PORT=:8080

# ========== Security ==========
SECRET_KEY=

# ========== MoMo Payment ==========
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_API_URL=
MOMO_REDIRECT_URL=http://localhost:3000/payments/momo/return
MOMO_NOTIFY_URL=

# ========== NF Bank Payment ==========
NFBANK_PARTNER_CODE=
NFBANK_ACCESS_KEY=
NFBANK_SECRET_KEY=
NFBANK_API_URL=
NFBANK_REDIRECT_URL=http://localhost:3000/payments/nfbank/return
NFBANK_NOTIFY_URL=
